.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container > *:first-child {
  align-self: flex-end;
  display: flex;
  gap: 16px;
}

.dest {
    color: var(--color-text);
    font-weight: bold;
}

.sub {
    font-size:.75rem;
}
