.wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wrapper > h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text);
}

.wrapper > p {
  font-size: 0.875rem;
  color: var(--color-text-secondary);
  font-weight: 500;
}
